name: Test and publish

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-go@v2
      with:
        go-version: 1.17
        stable: true

    - name: Install and run golangci-lint
      uses: golangci/golangci-lint-action@v2.5.2
      with:
        version: v1.43.0
        skip-go-installation: true

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: 1.17
          stable: true

      - name: Download K8s envtest - local K8s cluster control plane
        run: |
          go install sigs.k8s.io/controller-runtime/tools/setup-envtest@latest
          mkdir -p local/envtest-bin/
          setup-envtest use -p env 1.21.x --bin-dir local/envtest-bin > local/envtest-bin/env

      - name: Run Unit tests
        run: |
          source local/envtest-bin/env
          export KUBEBUILDER_ASSETS=$(pwd)/$KUBEBUILDER_ASSETS
          go test -covermode atomic -coverprofile=profile.cov ./...

      - name: Send coverage
        env:
          COVERALLS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          go install github.com/mattn/goveralls@v0.0.11
          goveralls -coverprofile=profile.cov -service=github

  test-helm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Set up Helm
        uses: azure/setup-helm@v1
        with:
          version: v3.5.0
      - uses: actions/setup-python@v2
        with:
          python-version: 3.7
      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.0.1
      - uses: actions/setup-go@v2
        with:
          go-version: 1.17
          stable: true
      - uses: imjasonh/setup-ko@v0.4
        name: Setup ko
        env:
          KO_DOCKER_REPO: docker.io/postfinance
      - name: Run ko publish
        run: |
          export REF=${{ github.ref}}
          export COMMIT=${{ github.sha}}
          ko publish ./cmd/kubelet-csr-approver/ --base-import-paths --platform=linux/amd64 --local
      - name: Run chart-testing (lint)
        run: ct lint --target-branch=main --check-version-increment=false --chart-dirs=deploy/charts
      - name: Create kind cluster
        uses: helm/kind-action@v1.2.0
        with:
          version: v0.11.1
          cluster_name: kind
      - name: Load image
        run: kind load docker-image ko.local/kubelet-csr-approver:latest
      - name: Update chart values
        run: |
          sed -i \
            -e 's|repository:.*|repository: ko.local/kubelet-csr-approver|g' \
            -e 's|tag:.*|tag: latest|g' \
            -e 's|providerRegex:.*|providerRegex: ^.+$|g' \
            deploy/charts/kubelet-csr-approver/values.yaml
          cat deploy/charts/kubelet-csr-approver/values.yaml
      - name: Run chart-testing (install)
        run: ct install --target-branch=main --chart-dirs=deploy/charts

  publish-tagged:
    if: "startsWith(github.ref, 'refs/tags/v') && !github.event.pull_request.head.repo.fork"
    needs:
    - lint
    - test
    - test-helm
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: 1.17
          stable: true
      - name: Install Helm
        uses: azure/setup-helm@v1
        with:
          version: v3.5.0
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: postfinance
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - uses: imjasonh/setup-ko@v0.4
        name: Setup ko
        env:
          KO_DOCKER_REPO: docker.io/postfinance
      - name: Run ko publish
        run: |
          export REF=${{ github.ref}}
          export COMMIT=${{ github.sha}}
          export TAG=$(echo ${{ github.ref }} | cut -d "/" -f 3 - ) 
          ko publish ./cmd/kubelet-csr-approver/ --base-import-paths --platform=linux/amd64,linux/arm64,linux/arm --tags $TAG
      - name: Publish Helm charts
        uses: stefanprodan/helm-gh-pages@master
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

  publish-untagged:
    if: "!startsWith(github.ref, 'refs/tags/v') && !github.event.pull_request.head.repo.fork"
    needs:
    - lint
    - test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: 1.17
          stable: true
            
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: postfinance
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - uses: imjasonh/setup-ko@v0.4
        name: Setup ko
        env:
          KO_DOCKER_REPO: docker.io/postfinance
      - name: Run ko publish
        run: |
          export REF=${{ github.ref}}
          export COMMIT=${{ github.sha}}
          ko publish ./cmd/kubelet-csr-approver/ --base-import-paths --platform=linux/amd64,linux/arm64,linux/arm
